{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Compras</h1>
    <form method="POST" action="{{ url_for('compras') }}">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Data da Compra</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor Total</th>
                        <th>Status da Entrega</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nome }}</td>
                        <td>
                            <input type="date" name="data_compra_{{ cliente.id }}" value="{{ cliente.compras[0].data_compra if cliente.compras else '' }}">
                        </td>
                        <td>
                            <input type="text" name="produto_{{ cliente.id }}" value="{{ cliente.compras[0].produto if cliente.compras else '' }}">
                        </td>
                        <td>
                            <input type="number" name="quantidade_{{ cliente.id }}" value="{{ cliente.compras[0].quantidade if cliente.compras else '' }}">
                        </td>
                        <td>
                            <input type="text" name="valor_total_{{ cliente.id }}" value="{{ cliente.compras[0].valor_total if cliente.compras else '' }}">
                        </td>
                        <td>
                            <input type="text" name="status_entrega_{{ cliente.id }}" value="{{ cliente.compras[0].status_entrega if cliente.compras else '' }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}
