{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <h2 class="mb-4">Engenharia</h2>
  <form method="POST">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>Documentos Comercial</th>
            <th>Análise Documentos</th>
            <th>Formulário Acesso Comercial</th>
            <th>Procuração Assinada</th>
            <th>Emissão Pagamento ART</th>
            <th>Enviado CEMIG</th>
            <th>Projeto Aprovado</th>
            <th>Obra CEMIG Concluída</th>
            <th>Obra Interna Concluída</th>
            <th>Vistoria Solicitada</th>
            <th>Vistoria Aprovada</th>
            <th>Observação</th>
            <th>Status</th>
            <th>Data Limite Parecer</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id }}</td>
            <td class="text-nowrap">{{ cliente.nome }}</td>
            <td class="text-nowrap">{{ cliente.cpf }}</td>
            <td class="text-nowrap">{{ cliente.endereco }}</td>
            <td><input type="checkbox" name="documentos_comercial_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].documentos_comercial %}checked{% endif %}></td>
            <td><input type="checkbox" name="analise_documentos_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].analise_documentos %}checked{% endif %}></td>
            <td><input type="checkbox" name="formulario_acesso_comercial_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].formulario_acesso_comercial %}checked{% endif %}></td>
            <td><input type="checkbox" name="procuracao_assinada_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].procuracao_assinada %}checked{% endif %}></td>
            <td><input type="checkbox" name="emissao_pagamento_art_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].emissao_pagamento_art %}checked{% endif %}></td>
            <td><input type="checkbox" name="enviado_cemig_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].enviado_cemig %}checked{% endif %}></td>
            <td><input type="checkbox" name="projeto_aprovado_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].projeto_aprovado %}checked{% endif %}></td>
            <td><input type="checkbox" name="obra_cemig_concluida_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].obra_cemig_concluida %}checked{% endif %}></td>
            <td><input type="checkbox" name="obra_interna_concluida_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].obra_interna_concluida %}checked{% endif %}></td>
            <td><input type="checkbox" name="vistoria_solicitada_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].vistoria_solicitada %}checked{% endif %}></td>
            <td><input type="checkbox" name="vistoria_aprovada_{{ cliente.id }}" {% if cliente.engenharias and cliente.engenharias[0].vistoria_aprovada %}checked{% endif %}></td>
            <td><input type="text" class="form-control fixed-width-input" name="observacao_{{ cliente.id }}" value="{{ cliente.engenharias[0].observacao if cliente.engenharias else '' }}"></td>
            <td><input type="text" class="form-control fixed-width-input" name="status_{{ cliente.id }}" value="{{ cliente.engenharias[0].status if cliente.engenharias else '' }}"></td>
            <td><input type="date" class="form-control" name="data_limite_parecer_{{ cliente.id }}" value="{{ cliente.engenharias[0].data_limite_parecer if cliente.engenharias else '' }}"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success mt-3">Salvar</button>
  </form>
</div>
{% endblock %}
